<h1>@ViewData["Count"]</h1>
<h2>@TempData["TotalPresentDays"]</h2>
<h3>@TempData["TotalAbsentDays"]</h3>
<h4>@TempData["OverHourRate"]</h4>
<h5>@TempData["TotalDeductionSalary"]</h5>
<h6>@TempData["TotalSalary"]</h6>